html {
  font-family: arial, sans-serif;
}

.center {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 4em;
}

.details-info {
  display: flex;
  flex-flow: column wrap-reverse;
}

.details-info > div {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.container-selects-options {
  /* transform: scale(2); */
}

.selects-options + .not-select {
  /* display: block; */
  font-style: italic;
}

.main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.youtube-container {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .youtube-container {
    height: 55vw;
  }
}
@media screen and (min-width: 1200px) {
  .youtube-container {
    height: 660px;
  }
}
.youtube-container iframe {
  /* position: absolute; */
  top: 0;
  left: 0;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.form-checknumber {
  padding: 1em;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 7em; גובה הפוטר */
  background-color: #dbdbdb;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 1em; /* מרכז טקסט אנכית */
  z-index: 1000; /* מבטיח שהוא יישב מעל תוכן אחר */
  font-size: x-small;
}

.contact {
  font-weight: bolder;
}

.spinner {
  width: 50px; /* רוחב העיגול */
  height: 50px; /* גובה העיגול */
  border: 6px solid #f3f3f3; /* צבע הגבול החיצוני */
  border-top: 6px solid #3498db; /* צבע הקו העליון שיהפוך לעיגול מסתובב */
  border-radius: 50%; /* הופך את הצורה לעיגול */
  animation: spin 1s linear infinite; /* הנפשה: שם האנימציה, משך זמן, סגנון ותנועה אינסופית */
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* התחלה */
  }
  to {
    transform: rotate(360deg); /* סיבוב שלם */
  }
}

.number-info {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.disclaimer-gov {
  font-size: xx-small;
  text-align: center;
}

table,td {
  border: black 1px solid;
}
